@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  list-style-type: none;
}

li {
  line-height: 1.5em;
}

a:hover {
  cursor: pointer;
}

a:active {
  background-color: white;
}

.data-demo {
  font-size: 0.5em;
  height: 5em;
  line-height: normal;
  overflow: hidden;
  text-align: left;
}