.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

input, button {
  font-size: inherit;
}

input + button {
  margin-left: 2vw;
}

.App-link {
  color: #61dafb;
}

.App-navigation {
  margin: 3vh 0;
}
